html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}
body {
  margin: 0;
}
header {
  background-color: #1f2937;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 100px 25px 100px;
}
.header-logo .navbar-item {
  flex: 2 2 auto;
}
.header-logo > img {
  width: 5em;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.nav-links {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
}
.nav-link {
  display: inline-block;
}
.nav-link:hover {
  font-size: 25px;
  color: #f9faf8;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px 100px 50px 100px;
}
.header-content > div {
  flex: 1 1 auto;
}

.header-content h1 {
  font-size: 48px;
  padding: 0;
  margin: 0;
  color: #f9faf8;
}
.header-content p {
  font-size: 18px;
}
.header-content button {
  background-color: #3882f6;
  color: #fff;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}
.header-content-container,
.image-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.image-container > img {
  width: 600px;
  border-radius: 10px;
  padding-bottom: 10px;
}
.image-container > span {
  font-style: italic;
}
.character-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}
.character-section > h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 100px;
  gap: 30px;
}
.characters-container > div > img {
  width: 12rem;
  border-radius: 10px;
  border: 5px solid #3882f6;
}
.characters-container > div > p {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}

.quote-section {
  background-color: #e5e7eb;
  color: #1f2937;
  font-weight: 300;
  font-size: 36px;
  padding: 50px 150px;
  font-style: italic;
}
.quote-section p {
  text-align: right;
  font-style: normal;
  font-weight: 600;
}
footer {
  padding: 20px;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 20px;
}
footer p {
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #c2c5cc;
}
footer a:hover {
  font-size: 25px;
  text-decoration: underline;
}
.before-footer {
  margin: 100px;
  padding: 50px 100px 50px 100px;
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  font-size: 20px;
  align-items: center;
  border-radius: 10px;
}
.before-footer > div > span:first-of-type {
  font-size: 25px;
  font-weight: 600;
  padding: 0;
}
.before-footer > div {
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
}
.before-footer > button {
  font-size: inherit;
  padding: 10px 25px;
  color: #f9faf8;
  font-weight: 600;
  background-color: #3882f6;
  border: 3px solid #fff;
  border-radius: 10px;
}
